<br>
<div class="container-fluid" *ngIf="filteredProducts">
  <input type="search" class="form-control" placeholder="Search..."
  [(ngModel)]="searchTerm">
  <br>
  <mat-grid-list [cols]="isMobile ? 1 : 3" rowHeight="450px">
      <mat-grid-tile *ngFor="let prod of filteredProducts">
            <div class="flex">
              <div class="card" style="width:20rem;">
                  <img src="{{imageUrl}}/{{prod.ProductImage}}" 
                    height="250px" class="img-responsive card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">
                        <b>{{prod.ProductName}}</b>
                    </h5>
                    <br>
                    <p class="card-text">Category: {{prod.CategoryName}}</p>
                    <p style="font-size: larger">${{prod.ProductPrice}}</p>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-primary" type="button" (click)="viewDetails(prod.ProductID)">View Details</button>
                  </div>
              </div>
            </div>
      </mat-grid-tile>
  </mat-grid-list>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">Please Wait.Loading Data... </p>  
</ngx-spinner> 
